/* You can add global styles to this file, and also import other style files */

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}